body {
    font-family: "Georgia";
    margin: 0;
    padding: 0;
    background-color: #eee9e0 !important;
    color: #333;
}


header {
    background: #eee9e0;
    padding: 20px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%;
}

header div {
    display: flex; 
    justify-content: space-between; 
    width: 100%; 
    max-width: 1200px; 
    align-items: center;
}

h1 {
    font-family: "Homemade Apple";
    color: #000000;
    font-weight: normal;
    font-size: 50px;
}


#header p {
    font-family: "Georgia";
    color: #000000;
    font-weight: normal;
    font-size: 70px;
    line-height: 1.2; /* Decrease line-height to bring lines closer together */
    margin: 0; /* Remove any default margins if needed */
    padding: 0; /* Remove padding if necessary */
}

#header {
    display: flex;
    align-items: center; /* Aligns items vertically */
    justify-content: space-between; /* Spreads them apart */
    margin: auto; /* Centers the section */
}

.text-container {
    flex: 1; /* Takes up remaining space */
    text-align: left;
}

.image-container {
    flex: 1; /* Takes up remaining space */
    display: flex;
    justify-content: flex-end; /* Aligns image to the right */
}

.image-container img {
    max-width: 650px; /* Adjust image size */
    border-radius: 10px; /* Optional: adds rounded corners */
}

#dynamic-text {
    font-family: "Georgia";
    color: #ff79c6 !important; /* Soft pink color */
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #ff79c6 !important; /* Cursor effect */
}

nav {
    font-family: "Georgia";
    font-size: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

section {
    padding: 20px;
    padding-top: 130px;
    padding-bottom: 70px;
    margin: 20px;
    width: 100%;
    max-width: 1200px; /* Ensure the section is aligned like the div */
    margin-left: auto;
    margin-right: auto; /* Centers the section */
}


footer {
    background: #eee9e0;
    color: #000000;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.img-button {
    width: 300px;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.img-button:hover {
    transform: scale(1.1); /* Makes it 10% bigger on hover */
}

.homemade-apple-regular {
    font-family: "Homemade Apple", serif;
    font-weight: 400;
    font-style: normal;
  }
